{% extends "layout.html" %}

{% block title %}
Donut Shop - Home
{% endblock %}

{% block content %}
<h1>Hello, welcome to sugarplanet!</h1>
<p>Everyday, we make fresh gourmet donuts from the finest ingredients just for you.
    Not only do we have different types of donuts, but we also have a great variety of flavours.
</p>
<p>Note: This is a fake donut website.
    Images are not mine and are merely used for non-commercial purposes (CV/portfolio building).
</p>
<br>
<a class="buttons misc" href="/order">Order Now!</a>
{% endblock %}