{% extends "layout.html" %}

{% block title %}
Donut Shop - Order
{% endblock %}

{% block content %}
<h1>Order</h1>

<form id="order_form" method="POST">
    {% csrf_token %}
    {{ customer_form.as_p }}

    {% load static %}
    <script src="{% static 'cart.js' %}"></script>

    <div id="donut_cart"> 
        <h3>Donut Cart:</h3> 
        {{orderedDonuts_formset.management_form}}
        {% for od in orderedDonuts_formset %}
            <div class="cartItems">
                {% csrf_token %}
                <button class='delItemBtn' onclick='delFromCart(this)'> X </button>
                {{ od.as_p }}
            </div>
        {% endfor %}
    </div>

    <div id="donut_adder">
        <input class="buttons misc" onclick="addToCart()" type="button" value="+ add item">
    </div>

    <br>
<input class="buttons submit" type="submit" value="SUBMIT ORDER" style="font-weight: bolder;">
</form>
{% endblock %}